{
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "ecmaFeatures": {
      "globalReturn": false
    }
  },
  "extends": "google",
  "rules": {
    "quotes": "off",
    "no-unused-vars": "warn",
    "object-curly-spacing": "off",
    "require-jsdoc": "off",
    "operator-linebreak": "off",
    "indent": "off",
    "comma-dangle": "off",
    "max-len": "warn",
    "space-before-function-paren": "off",
    "no-undef": "error"
  }
}
